

 li{
  display:inline-block;
}
a:hover {
  background-color: gold;
}
#lien{

  padding: 0px;
  margin: 0px;
  list-style-type: none;

}
footer {
  position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
  	height:0;
  
}
