<corp>
<div class="card">
    <h1 class="title">le titre</h1>
    <div class="text-left">ici se trouve mon texte voila voila^^  </div>
    <div class="card-bouton">
      <boutton>
    <p><button type="btn-blue", style="border-radius: 20px"> un button!</button></p>
    </boutton>
    </div>
    <p><%= image_tag("Linux_logo.jpg",width:'200px', height:'200px')%></p>
</div>
</corp>
