<footer>
  <div id="lien">
  <ul>
    <li><a href="https://twitter.com/"><%= image_tag("twitter.jpg",width:'30px', height:'30px')%></li>
    <li><a href="https://www.youtube.com/"><%= image_tag("yt.jpg",width:'30px', height:'30px')%></li>
    <li><a href="https://www.facebook.com/"><%= image_tag("fb.jpg",width:'30px', height:'30px')%></li>
    <li><a href="https://www.instagram.com/"><%= image_tag("insta.jpg",width:'30px', height:'30px')%></li>
  </ul>
  </div>
</footer>
